<div class="row">
  <h1 class="my-title">Cozinha</h1>
  <div class="col-md-offset-2 col-md-8">
    <div class="" style="width:100%; height:60px;">
      <p><%= @cuisine.name %></p>
      <%= link_to 'Excluir cozinha', cuisine_path(@cuisine), method: :delete, style: 'float:right;'%>
    </div>
  </div>
</div>
