.side-bar {
  min-width: 100px;
}
.container-side-bar{
  position: fixed;
  min-width: 100px;
}
@media screen and (max-width: 1000px) {
  .container-side-bar{
    position: static;
    min-width: 100px;
  }
}

/***Recipe cards****/
.flex-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  align-self: auto;
  padding: 8px;
  width: 300px;
  min-height: 350px;
}

.message-container {

}

.navbar-container {
  height: 90px;
}

.row-button {
  width: 100%;
}
