<div class="row">
  <div class="col-xs-12">
    <%= form_tag(filter_path, method: :get) do %>
      <div class="form-group">
        <%= label_tag :cuisine, 'Cozinha' %>
        <%= select_tag :cuisine, options_from_collection_for_select(cuisine_list, :id, :name, class: 'form-control') %>
      </div>
      <%= submit_tag 'Filtrar' %>
    <% end %>
  </div>
</div>
